<footer class="bg-body-tertiary border-top">
    <div class="container d-flex flex-column align-items-center text-center">
        <!-- Social Media Icons -->
        <div class="f-info-social mb-2">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <!-- Company Info -->
        <div class="mb-2">
            &copy; Wanderlust Private Limited
        </div>

        <!-- Privacy & Terms -->
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>